Event Project/Event.json
{
  "name": "Event",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        -20
      ],
      "id": "b7f010de-99b4-4105-b7c7-3cff858b56eb",
      "name": "Telegram Trigger",
      "webhookId": "1ccb1dee-ae2c-49c5-a7b1-21d19e77b610",
      "credentials": {
        "telegramApi": {
          "id": "KRRo77BygdrCBZ2P",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Role:\nYou are a helpful event registration assistant that collects user details through a natural, conversational flow.\n\nRules:\nCheck for existing registration:\n\nBefore collecting any details, check Airtable if an entry with eventID = {{ $json.message.chat.id }} already exists.\n\nIf found, inform the user:\n\"You are already registered for this event! If you need to update your details, let me know.\"\n\nIf not found, proceed with registration.\n\nAsk one question at a time in a friendly and engaging manner:\n\nFull Name\n\nEmail Address\n\nPhone Number\n\nConfirm the collected details before storing:\n\nShow the user their provided details and ask for confirmation:\n_\"Just to confirm, here are your details:\n\nName: [Name]\n\nEmail: [Email]\n\nPhone Number: [Phone]\nDoes everything look correct?\"_\n\nStore the details in Airtable:\n\neventID = {{ $json.message.chat.id }}\n\nName = User’s provided name\n\nEmail = User’s provided email\n\nPhone Number = User’s provided phone number\n\nAfter successful registration, send a confirmation message:\n\"Great! You’re successfully registered for the event. See you there!\"\n\nAfter successful registration, send an email to the user with the following content:\n\n Subject: \"Event Registration Confirmation - OPEN AI EVENT\"\n\nEmail Body:\n\nHello [Name],\n\nThank you for registering for [Event Name]!\n\n📅 Event Date: [April 2]  \n📍 Location: [Brainware University]  \n⏰ Time: [10:00 AM]  \n\nWe’re excited to see you there! If you have any questions, feel free to reach out.  \n\nBest regards,  \n[Event Team]\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -40,
        -20
      ],
      "id": "48a1a08c-5579-4fae-a732-a8a7618141e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -100,
        240
      ],
      "id": "f1b0e8da-eef0-444f-b147-1f51513c4930",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -20
      ],
      "id": "d7179319-ca6d-4fc2-956d-53cc95cb93d4",
      "name": "Telegram",
      "webhookId": "87bdb61a-b2ab-40a0-a1a4-991b9df83655",
      "credentials": {
        "telegramApi": {
          "id": "KRRo77BygdrCBZ2P",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHI05GqioNb4auh",
          "mode": "list",
          "cachedResultName": "Event",
          "cachedResultUrl": "https://airtable.com/appHI05GqioNb4auh"
        },
        "table": {
          "__rl": true,
          "value": "tblwWOF758DlU0Xet",
          "mode": "list",
          "cachedResultName": "Event Attendance",
          "cachedResultUrl": "https://airtable.com/appHI05GqioNb4auh/tblwWOF758DlU0Xet"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        160,
        240
      ],
      "id": "a6982d0e-375d-42d5-96f3-14032d228913",
      "name": "Search",
      "credentials": {
        "airtableTokenApi": {
          "id": "KzWRF56chO8JTiO4",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -260,
        240
      ],
      "id": "a800fe82-0d0a-4dd0-a609-93f992a92bfa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "09HGSYyUrKrdzJ6G",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        280,
        240
      ],
      "id": "8eaa0f70-1ca5-4e11-b93e-29af734c08b0",
      "name": "Gmail",
      "webhookId": "90cf7fde-8db1-4220-b6ee-4740292ff980",
      "credentials": {
        "gmailOAuth2": {
          "id": "pnxRrmiugTDvTTUm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appHI05GqioNb4auh",
          "mode": "list",
          "cachedResultName": "Event",
          "cachedResultUrl": "https://airtable.com/appHI05GqioNb4auh"
        },
        "table": {
          "__rl": true,
          "value": "tblwWOF758DlU0Xet",
          "mode": "list",
          "cachedResultName": "Event Attendance",
          "cachedResultUrl": "https://airtable.com/appHI05GqioNb4auh/tblwWOF758DlU0Xet"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Status": "Done",
            "EventID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('EventID', ``, 'number') }}"
          },
          "matchingColumns": [
            "EventID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "EventID",
              "displayName": "EventID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        40,
        240
      ],
      "id": "f491c14c-5f94-4abd-b61f-269560f58f3b",
      "name": "Save User data",
      "credentials": {
        "airtableTokenApi": {
          "id": "KzWRF56chO8JTiO4",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save User data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b003d91-66d1-4486-a545-b7ac6fc1eb00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b6beeb00431ed27556972946ec9d09218720c494e6d915572303594fbee876f"
  },
  "id": "jitUONQW9YDZPKgB",
  "tags": []
}
